@import url(normalize.css);
html body main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 200vh; }
  html body main .test {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50%;
    background-color: #22335b; }
    html body main .test p {
      color: #fff;
      text-align: center;
      font-size: 10vw; }
  html body main .flex {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 50%;
    background-color: #98db69; }
    html body main .flex .num-wrap {
      margin: 0 10px 10px 0;
      padding: 15px;
      background-color: #fff;
      color: #000; }
